<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <ul>
        <li>Email: <a href="mailto:dkdong21@m.fudan.edu.cn">dkdong21@m.fudan.edu.cn</a></li>
        <li>ORICD: <a href="https://orcid.org/0009-0001-5553-0231">0009-0001-5553-0231</li>
    </ul>
</div>

<!--
<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
-->

<!--
<div class="sidebar well">
{% include links-list.html %}
</div>
-->
